/*NAVBAR*/

.ChevronB {
  margin-right: 11rem;
}

.controls ul li {
  color: white;
  text-decoration: none;
  list-style-type: none;
  padding-right: 5rem;
  font-weight: bold;
}

.pp {
  font-size: 1.5rem;
  margin-top: 3rem;
}

.IDT {
  background-color: #4a8fee;
}

.Nav {
  background-color: #0451be;
}

body {
  padding: 5px;
  background-color: #666666;
}

.greeting {
  color: #ff2f82;
  padding-left: 50px;
}

.counter {
  color: #ffffff;
}

.boton {
  background-color: #ff2f82;
}

.boton2 {
  background-color: blueviolet;
}

.card {
  background-color: #ff2f82;
}

/*About*/

.abC {
  margin: 50px;
  margin-bottom: 8rem;
  position: relative;
}

.abH {
  width: 1500px;
  height: 650px;
}

.abT {
  position: absolute;
  top: 25%;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
}

.P2 {
  text-align: center;
}

/*contact*/

.store-info {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10rem;
  margin-bottom: 20.2rem;
}

.store-name {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
}

.store-address {
  font-size: 16px;
  color: #555;
}

.store-phone {
  font-size: 18px;
  color: #333;
}

.store-email {
  font-size: 18px;
  color: #007bff;
}

.store-legend {
  margin-top: 2rem;
  font-size: 16px;
  color: #555;
  font-weight: bold;
}

      /*Contact-Icons*/

.contact-icons-list {
  list-style: none;
  padding: 0;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
}

.contact-icon-item {
  margin: 0 3rem;
  display: inline-block;
  position: relative;
}

.nav-link {
  font-size: 30px;
  color: #808080;
  transition: color 0.3s ease, transform 0.3s ease;
}

.icon-facebook:hover {
  color: #3b5998;
  transform: scale(1.1);
}

.icon-linkedin:hover {
  color: #0e76a8;
  transform: scale(1.1);
}

.icon-github:hover {
  color: #303030;
  transform: scale(1.1);
}

/*cart*/

.eCC {
  margin: 50px;
  margin-bottom: 9.5rem;
  position: relative;
  background-color: #000000e5;
}

.eCH{
  margin-left: 8.5rem;
}

.eCT {
  position: absolute;
  top: 40%;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
}

/*Cart Widget*/

.cart {
  position: fixed;
  bottom: 115px;
  right: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #cb3636;
  background-color: #ffffff;
  padding: 9px 10px;
  border-radius: 50%;
  text-align: center;
  animation: vibrar-pausa 3s infinite;
  z-index: 1;
}
  .icon-cart {
    font-size: 32px;
  }

  .number {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 8px;
    font-size: 18px;
    position: absolute;
    top: -7px;
    right: -8px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


/*item*/
.CardItem {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: grid;
  align-items: end;
}

.CardItem .Info {
  color: blue;
  font-size: 22px;
}

.CardItem .ItemImg {
  max-width: 100%;
  max-height: 225px;
  padding: 10px;
  margin: 5px;
  border-radius: 0.6rem;
  transition: transform 0.5s, filter 0.5s, box-shadow 0.3s;
}


.CardItem .ItemFooter {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.CardItem .ItemFooter .ButtonFooter {
  width: 95%;
  display: inline-block;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0451be;
  transition: background-color 0.3s;
}

.CardItem .ItemFooter .ButtonFooter:hover {
  background-color: #01429c;
}

.CardItem .ItemFooter .Option {
  color: rgb(255, 255, 255);
  font-size: 26px;
}

.CardItem .Header .ItemHeader {
  font-size: 23px;
  font-weight: 600;
  color: #ff002f;
}

/*item detail*/


.CardItemDetail {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 1500px;
  margin: 0 auto;
  background-color: #fff;
}

@media (max-width: 1078px) {
  .CardItemDetail {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 10px;
  }
}

@media (max-width: 738px) {
  .CardItemDetail {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.CardItemDetail .ItemHeaderDetail {
  font-size: 24px;
  color: #007bff;
}

.CardItemDetail picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CardItemDetail .ItemImgDetail {
  max-width: 100%;
  max-height: 550px;
  object-fit: cover;
  border-radius: 4px;
}

.CardItemDetail section {
  display: flex;
  flex-direction: column;
}

.CardItemDetail .InfoCategory {
  font-size: 23px;
  font-weight: 600;
  color: #6048e9;
}

.CardItemDetail .InfoDescripcion {
  font-size: 22px;
}

.CardItemDetail .InfoPrice {
  font-size: 26px;
  color: #0056b3;
}

@media (max-width: 1078px) {
  .CardItemDetail .InfoCategory {
    font-size: 21px;
  }

  .CardItemDetail .InfoDescripcion {
    font-size: 20px;
  }

  .CardItemDetail .InfoPrice {
    font-size: 24px;
  }
}

@media (max-width: 738px) {
  .CardItemDetail .InfoCategory {
    font-size: 18px;
  }

  .CardItemDetail .InfoDescripcion {
    font-size: 17px;
  }

  .CardItemDetail .InfoPrice {
    font-size: 21px;
  }
}

.CardItemDetail .ItemFooterDetail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
}

.CardItemDetail .ItemFooterDetail .OptionDetail {
  padding: 10px 20px;
  background-color: #dc3545;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.CardItemDetail .ItemFooterDetail .OptionDetail:hover {
  background-color: #0056b3;
}


